<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录成功</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.font.im/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Online Judge</h1>
    </header>

    
    <main>
        <article>
            
            <h2>题目列表</h2>
            <div class="top">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>#</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><i>Titie</i></strong></div>
            <ol>
                <li><h3><a href="/user/twosum"> 两数整除问题 </a></h3></li>
                <li><h3>两数之和   </h3></li>
                <li><h3>将来的日期   </h3></li>
                <li><h3>最大水容量 </h3></li>
                <li><h3>买卖股票的最佳时机 </h3></li>
                <li><h3>求众数 </h3></li>
                <li><h3>递增三元子序列   </h3></li>
                <li><h3>调整数组顺序使奇数位于偶数前面  </h3></li>
                <li><h3>求众数2     </h3></li>
            </ol>
            
        </article> 
    
    </main>
  

    <div class="foot"></div>
    <footer> <!-- 本站所有网页的统一页脚 -->
        <p>© JAVA 组保留所有权利</p>
    </footer>
</body>
</html>