<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.font.im/css?family=Open+Sans" rel="stylesheet" type="text/css">

</head>

<body>
    <header>
        <h1>Online Judge</h1>
    </header>

    <main>
        <article class="css-3">
            <form action="/user/register" method="post">
            <p></br>
                <strong>用户名: </strong><input type="text" name="userid" /></br>
            </br>
                <strong>昵&nbsp;&nbsp;&nbsp;&nbsp;称: </strong><input type="text" name="username" /></br>
            </br>
                <strong>密&nbsp;&nbsp;&nbsp;&nbsp;码: </strong><input type="password" name="password" /></br></p>
                <input type="submit" class="css-1" value="注册">
            
            </form>
            <p></br></p>
        </article> 
    </main>

    <div class="foot"></div>
    <footer> <!-- 本站所有网页的统一页脚 -->
        <p>© JAVA 组保留所有权利</p>
    </footer>

</body>
</html>