<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.font.im/css?family=Open+Sans" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <h1>Online Judge</h1>
    </header>

    <main>
        <article class="css-3">
            <p></br></p>
            <form action="/user/userLogin" method="post">
                <p><strong>用户名：</strong><input type="text" name="userid" /><br>
                    <br>
                    <strong>密&nbsp;&nbsp;&nbsp;&nbsp;码：</strong><input type="password" name="password" /><br></p>
             
                    <input type="submit" class="css-1" value="登录" />
            </form>
            <p><a href="/user/registerpage" title= "第一次?赶快注册吧!" target="_blank"><button>注册</button></a>&nbsp;&nbsp;&nbsp;&nbsp;
                <button>忘记密码</button></p>
            <p></br></p>
            
        </article> 

    </main>


    <div class="foot"></div>
    <footer> <!-- 本站所有网页的统一页脚 -->
        <p>© JAVA 组保留所有权利</p>
    </footer>

</body>
</html>